<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="header :: head">
    <meta charset="utf-8">
</head>

<body class="antialiased">
<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Информация о квартире/доме
                        </div>
                        <h2 class="page-title" th:text="${title}">
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="/" class="btn btn-primary d-none d-sm-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <line x1="5" y1="12" x2="11" y2="18"></line>
                                    <line x1="5" y1="12" x2="11" y2="6"></line>
                                </svg>
                                Вернуться к списку
                            </a>
                            <a href="/" class="btn btn-primary d-sm-none btn-icon" aria-label="Вернуться к списку">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <line x1="5" y1="12" x2="11" y2="18"></line>
                                    <line x1="5" y1="12" x2="11" y2="6"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <form th:object="${appartment}">
                                    <input  type="hidden" id="id" name="id"  class="form-control" th:value="${appartment != null ? appartment.getId() : ''}">
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Район</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getRayon().getName()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Количество комнат</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getCountOfRooms() : ''}" ></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Этаж</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getStage() : ''}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Цена</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getPrice() : ''}" ></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Адрес</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getAddress() : ''}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Жилой комплекс</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getManufacturer().getName()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Серия</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getSerie().getName()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Состояние</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getCondition().name()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Тип недвижимости</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getTypeOfHouse().name()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Тип продажи</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getTypeOfSale().name()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Статус</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment.getBusyOrFreeStatus().name()}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Широта</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getLatitude() : ''}" ></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Долгота</label>
                                        <div class="col">
                                            <label class="form-label col-3 col-form-label" th:text="${appartment != null ? appartment.getLongitude() : ''}"></label>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="header :: footer"></footer>
    </div>
</div>

</body>
</html>