<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="header :: head">
    <meta charset="utf-8">
    <style>
        #list-img{
            width: 100px;
            height: 100px;
            border-radius: 5px;
            margin-left: 20%;
            object-fit: cover;
        }
    </style>
</head>
<body class="antialiased">

<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div class="page-wrapper">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Квартиры/Дома
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="d-flex">
                            <div class="me-3">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Поиск…">
                                    <span class="input-icon-addon">
                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10"
                                                                                                                cy="10"
                                                                                                                r="7"/><line
                                x1="21" y1="21" x2="15" y2="15"/></svg>
                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards" >

                    <div class="col-sm-6 col-lg-4" th:each="appartment : ${appartments}">
                        <div class="card card-sm">
                            <div th:id="${'carousel-controls'+appartment.getId()}" class="carousel slide" data-bs-ride="carousel">
                                <div th:id="${'carousel-inner'+appartment.getId()}" class="carousel-inner" >
                                    <div class="carousel-item" th:each="imgPath : ${appartment.getImgPaths()}">
                                        <img alt="" id="list-img" th:src="${imgPath.getPath()}">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" th:href="${'#carousel-controls'+appartment.getId()} " role="button"
                                   data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Предыдущая</span>
                                </a>
                                <a class="carousel-control-next" th:href="${'#carousel-controls'+appartment.getId()} " role="button"
                                   data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Следующая</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div th:text="${'Адрес: '+appartment.getAddress()}"></div>
                                        <div class="text-muted" th:text="${'Комнаты: '+appartment.getCountOfRooms()}"></div>
                                    </div>
                                    <div class="ms-auto">
                                        <h5 th:text="${'Цена: '+appartment.getPrice()}">
                                        </h5>

                                    </div>
                                    <div class="ms-auto">
                                        <a th:href="${'/appartment/info/' + appartment.getId()}">Подробнее</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript" th:inline="javascript">
                            $(document).ready(function () {
                                var id = [[${appartment.getId()}]]
                                $("#carousel-inner" + id).children().first().addClass("active");
                            });
                        </script>
                    </div>

                </div>

            </div>
        </div>
        <footer th:replace="header :: footer"></footer>
    </div>
</div>

</body>
</html>