<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="header :: head">
    <meta charset="utf-8">
</head>

<body class="antialiased">
<div class="wrapper">
    <div th:replace="header :: header"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Создание договора
                        </div>
                        <h2 class="page-title" th:text="${title}">
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="/admin/user/list" class="btn btn-primary d-none d-sm-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <line x1="5" y1="12" x2="11" y2="18"></line>
                                    <line x1="5" y1="12" x2="11" y2="6"></line>
                                </svg>
                                Вернуться к списку
                            </a>
                            <a href="/admin/user/list" class="btn btn-primary d-sm-none btn-icon" aria-label="Вернуться к списку">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <line x1="5" y1="12" x2="11" y2="18"></line>
                                    <line x1="5" y1="12" x2="11" y2="6"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Добавление договора</h3>
                            </div>
                            <div class="card-body">
                                <form th:object="${contract}" th:action="${'/contract/add'}" method="post">
                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Вид объекта:</label>
                                        <div class="col">
                                            <input type="text" class="form-control" disabled th:value="${appartment != null ? appartment.getTypeOfHouse().valueOf(appartment.getTypeOfHouse()) : ''}">
                                            <small class="form-hint text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Адрес:</label>
                                        <div class="col">
                                            <input type="text" class="form-control" disabled th:value="${appartment != null ? appartment.getAddress() : ''}">
                                            <small class="form-hint text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Цена:</label>
                                        <div class="col">
                                            <input type="text" class="form-control" disabled th:value="${appartment != null ? appartment.getPrice() : ''}">
                                            <small class="form-hint text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Cтатус обьекта:</label>
                                        <div class="col">
                                            <input type="text" class="form-control" disabled th:value="${appartment != null ? appartment.getTypeOfSale().valueOf(appartment.getTypeOfSale()) : ''}">
                                            <small class="form-hint text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label class="form-label col-3 col-form-label">Клиент:</label>
                                        <div class="col">
                                            <select id="clientId" name="clientId" class="form-select">
                                                <option th:each="client: ${clients}" th:value="${client.getId()}"
                                                        th:text="${'ФИО: '+client.getSurname()+' '+ client.getName() + ' '+client.getMiddlename() +', ПИН: '+client.getPin() +', Дата рождения: '+client.getDateOfBirth()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label class="form-label col-form-label">Дата начала аренды:</label>
                                        <div class="col">
                                            <input type="date" name="dateOfStart"
                                                   class="form-control"
                                                   placeholder="Дата начала аренды"/>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label class="form-label col-form-label">Дата конца аренды:</label>
                                        <div class="col">
                                            <input type="date" name="dateOfEnd"
                                                   class="form-control"
                                                   placeholder="Дата конца аренды"/>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label class="form-label col-form-label">Дата продажи:</label>
                                        <div class="col">
                                            <input type="date" name="dateOfSell"
                                                   class="form-control"
                                                   placeholder="Дата продажи"/>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>
                                    <input id="id" name="appartmentId"  type="hidden" class="form-control" th:value="${appartment != null ? appartment.getId() : ''}">

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary">
                                            Добавить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="header :: footer"></footer>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">

    var user = /*[[${user}]]*/ undefined;
    var userObl = /*[[${userObl}]]*/ undefined;
    var userOrg = /*[[${userOrg}]]*/ undefined;
    var user_role_select = document.getElementById("userRoleId");
    var oblast_select = document.getElementById("oblast_field");
    var organization_select = document.getElementById("organization");
    var user_position_select = document.getElementById("position");

    $( document ).ready(function() {
        if(user){
            if(user.organization){
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/rest/orgs/byOblastId/" + userObl,
                    dataType: 'json',
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var optn = data[i];
                            var el = document.createElement("option");
                            el.textContent = optn.shortName;
                            el.value = optn.id;
                            if (el.value.toString() === userOrg.toString()) {
                                el.selected = true;
                            }
                            organization_select.appendChild(el);
                        }
                    }
                });
            }else{
                setDefaults();
            }
        }else {
            setDefaults();
        }

        $('#oblast_field').on('change', function () {
            var sel = document.getElementById("oblast_field");
            var val = sel.options[sel.selectedIndex].value;
            var select = document.getElementById("organization");
            $('#organization').empty();
            var elFirst = document.createElement("option");
            elFirst.textContent = 'Выберите организацию';
            elFirst.value = '-1';
            elFirst.selected = true;
            elFirst.disabled = true;
            select.appendChild(elFirst);
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/rest/orgs/byOblastId/" + val,
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var optn = data[i];
                        var el = document.createElement("option");
                        el.textContent = optn.shortName;
                        el.value = optn.id;
                        select.appendChild(el);
                    }
                }
            });
        });

    });

    function setDefaults() {
        var elFirstRole = document.createElement("option");
        elFirstRole.textContent = 'Выберите роль';
        elFirstRole.value = '-1';
        elFirstRole.selected = true;
        elFirstRole.disabled = true;
        user_role_select.appendChild(elFirstRole);

        var elFirstObl = document.createElement("option");
        elFirstObl.textContent = 'Выберите область';
        elFirstObl.value = '-1';
        elFirstObl.selected = true;
        elFirstObl.disabled = true;
        oblast_select.appendChild(elFirstObl);

        var elFirstOrg = document.createElement("option");
        elFirstOrg.textContent = 'Выберите организацию';
        elFirstOrg.value = '-1';
        elFirstOrg.selected = true;
        elFirstOrg.disabled = true;
        organization_select.appendChild(elFirstOrg);

        var elFirstPosition = document.createElement("option");
        elFirstPosition.textContent = 'Выберите должность';
        elFirstPosition.value = '-1';
        elFirstPosition.selected = true;
        elFirstPosition.disabled = true;
        user_position_select.appendChild(elFirstPosition);

    }

</script>

</body>
</html>